body {
  background-color: #231E1B;
  color: white;
  text-align: center;
  font: 18px "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/* Barra de Navegação*/
#navbar{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font: 20px "Lato", sans-serif;
  justify-content: left;
}
#navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
#navbar-links li{
  list-style: none;
}
#navbar-links li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
}
#navbar-links a:hover{
  background-color: grey;
}
#navbar-links .current{
  background-color: #00B0F0;
}

/* Capa do website*/
#cover{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("pics/capa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font: 20px "Lato", sans-serif;
  line-height: 5px;
  color: rgb(191,191,191);
}
#cover h1{
 font-family: "Overpass", sans-serif;
 color: white;
 font-size: 40px;
}
#avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* Conteudo */
.box{
	margin: 25px 50px;
  padding: 10px;
}
.box ul {
  display: inline-block; 
	text-align: left;
}
/* Topico título */
.box h1 {
 font-family: "Exo 2", sans-serif;
 color: #00B0F0;
 font-size: 32px;
 margin-bottom: 30px;
}
/* Hyperlinks*/
a:link {
  text-decoration: none;
  color: #90E0EF;
}
a:visited {
  color: #90E0EF;
}
a:hover {
  color:#00B0F0;
}
/* Tabelas */
table{
  border: 2px solid #00B0F0;
  border-collapse: collapse;
  table-layout: auto;
  width: 40%;  
  margin: 50px auto;
  background-color: #0D0D0D;
}
td{
  text-align: center;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #262626;
}

/*Container com 2 colunas - Skills*/
.box-parent {
  display: flex;
  margin: 20px 50px;
}
.box-child {
  flex: 1;
}  
.box-child:first-child {
  margin-right: 5px;
} 
.box-child:first-child p{
  text-align: left;
  margin-bottom: 1px;
  margin-left: 25%
}
.box-child li{
  margin-top: 20px;
}

/* Barras de Progresso*/
.bar{
  width: 50%;
  background-color:#D9D9D9;
  margin-left: 25%;
  border-radius: 5px;
}
.skills{
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
  background-color: #00B0F0;
}

/* Imagem esquerda e Texto na direita - Education & Hobbies*/
.TextImgBox{
  padding: 10px;
  margin: 10px 150px 30px;
}
.TextImgBox .image{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.TextImgBox .image img{
  width: 100px;
  height: 100px;
}
.TextImgBox .text{
  display: inline-block;
  width: 50%;
  text-align: left;
}
.TextImgBox .text h3{
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 24px;
  margin-top:0; 
  margin-bottom:0;
}
.TextImgBox .text p{
  margin-bottom:0; 
  margin-top:0; 
}
.TextImgBox .text p.data{
  font: 16px "Lato", sans-serif;
  color: #BFBFBF;
  font-size: 16px;
  margin-bottom:0; 
  margin-top:0; 
}
.TextImgBox .text p.descricao{
  font: 16px "Lato", sans-serif;
  color: #D9D9D9;
  font-size: 18px;
  margin-left:40px; 
  margin-top:0; 
}

.figurebox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid brown;
}

.figurebox figure{
  border: 2px solid blueviolet;
  padding: 4px;
  margin: 10px 80px;
}

.figurebox figcaption{
  border: 2px solid grey;
  background-color: black;
}
