body {
  background-color: #231E1B;
  color: white;
  text-align: center;
  font: 18px "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
/* Barra de Navegação*/
#navbar{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
}
#navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}
#navbar-links li{
  list-style: none;
}
#navbar-links li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px;
}
#navbar-links a:hover{
  background-color: grey;
}
#navbar-links .current{
  background-color: #00B0F0;
}
/* Capa do website*/
#cover{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("pics/capa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f123;
  font: 20px "Lato", sans-serif;
  line-height: 5px;
  color: rgb(191,191,191);
}
  /*Gonçalo Martins título*/
#cover h1{
 font-family: "Overpass", sans-serif;
 color: white;
 font-size: 40px;
}
#avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* Topico título */
h1 {
 font-family: "Exo 2", sans-serif;
 color: #00B0F0;
 font-size: 32px;
}
